body {
    margin: 100px;
    background-color: black;
}
img {
    height: 470px;
    width: 490px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.upper-left {
    display: flex;
    flex-direction: row;
}

/* header */
.header {
   height: 75px;
    margin-left: 606px;
    margin-right:   606px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
   
}

.ig-top{
 display: flex;
 align-items: center;
 margin-left: 10px;

}


h2 {
    font-size: medium;
    line-height: 10px;
    padding-top: 25px;
    margin: 0px
}
.somewhere {
    margin: 10px;
    margin-top: 7.5px;
    margin-left: 0px;
}

.ig-header {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding-right: 350px;
    padding-left: 10px;
    line-height: 10px;
}

.ig-ellipsis {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 10px;
}

/* bottom part */

.ig-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin-right: 606px;
    margin-left: 606px;
}

.caption {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.ig-comment, .ig-share {
    padding-left: 7.5px;
}
.icons {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 606px;
    margin-right: 606px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: white;

}

.ig-bookmark {
   padding-left: 335px;

}

.likes {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 0px;
    
}

