body {
    margin: 100px;
    background-color: black;
}

img {
    height: 500px;
    width: 500px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* header */
.header {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
   
}

.main-header {
 display: flex;
 justify-content: center;
}

.ig-top{
 display: flex;
 align-items: center;
 margin-left: 5px;

}


h2 {
    font-size: medium;
    line-height: 10px;
    padding-top: 25px;
    margin: 0px
}


.ig-header {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding-right: 350px;
    padding-left: 10px;
    line-height: 10px;
}

.ig-ellipsis {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-right: 10px;
}

/* bottom part */



.caption {
    width: 480px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
}



.icon-container { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.icon-container2 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-regular {
    padding-right: 5px;
}


.icon-caption {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    height: 50px;
    
}

